# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ladder files
*.lad
*.mem
*.mne

# Other source related files
\Utility\*.*
\INCLUDE\*.*

# Log files
compilerlog.txt
FlChange.txt
IoLog.txt